<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ข่าวประชาสัมพันธ์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ca416dda71849542de1ae127891325169361b04c.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>โครงการฝึกอบรมหลักสูตรระยะสั้น</strong></ion-text>
      </h1>
      <p margin-bottom>
        อบรมหลักสูตรระยะสั้น
        โดยมหาวิทยาลัยราชภัฏเชียงใหม่
        เรามีหลักสูตรระยะสั้นที่น่าสนใจมากมายสำหรับท่าน
      </p>
    </ion-card-content>
  </ion-card>
  <div class="bg-profile" text-center padding>
    <img src="assets/img/48d4318c47ed081ec1d59d9426e826af97036146.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>โครงการฝึกอบรมหลักสูตรระยะสั้น</strong></ion-text>
      </h1>
      <p margin-bottom>
        อบรมหลักสูตรระยะสั้น
        โดยมหาวิทยาลัยราชภัฏเชียงใหม่
        เรามีหลักสูตรระยะสั้นที่น่าสนใจมากมายสำหรับท่าน
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
