<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ข่าวประชาสัมพันธ์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ca416dda71849542de1ae127891325169361b04c.png">
  </div>

  <div class="bg-profile" text-center padding>
    <a target="_blank" href="http://www.council.cmru.ac.th/allnewweb2014/index.php?name=news&file=readnews&id=72&fbclid=IwAR2vICMsTUSVJt4kzTydhR0-9ozoid-qPrL9abajQ3UuWSsfe5q7FFlMn3U">
    <img src="assets/img/48d4318c47ed081ec1d59d9426e826af97036146.png">
    </a>
  </div>

  <div class="bg-profile" text-center padding>
    <a target="_blank" href="http://www.wifireg.cmru.ac.th/">
    <img src="assets/img/ea6a0ce42d45560cc942c028b4ce734fad904e7c.jpg">
    </a>
  </div>
</ion-content>
