<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          <h4>มหาวิทยาลัยราชภัฏเชียงใหม่</h4>
          <h4>Chiang Mai Rajabhat University</h4>
        </ion-text>
      </h4>
    </div>
    <div>
      <br />

      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="gotoCheck()" tappable>
        <ion-icon name="log-in"></ion-icon>
        ตรวจสอบสถานะ
      </ion-button>
      <br />
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="gotoLogin()" tappable>
        <ion-icon name="log-in"></ion-icon>
        ระบบสารสนเทศสำหรับนักศึกษา
      </ion-button>

      <br />
      <ion-grid>
        <ion-row justify-content-around>
          <ion-col>
            <ion-button expand="block" fill="clear">
              <ion-icon slot="icon-only" name="mail"></ion-icon>&nbsp;
              <a ng-repeat="contItems in arrayContacts"  style="color: white" size="small" expand="full" color="dark" class="item item-icon-left btn" href="https://docs.google.com/forms/d/e/1FAIpQLSclX7D7woTNJVYwuyI5pzlvJ8e9fMC3tmcU_8dhXcD7HJtF9w/viewform" target="_blank">
        <span>
          แบบประเมินความพึงพอใจ<br>การใช้งานแอปพลิเคชันบนเครือข่ายมือถือ
        </span>
              </a>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>



  </div>
</ion-content>