<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          <h3>มหาวิทยาลัยราชภัฏเชียงใหม่</h3>
          <h2>Chiang Mai Rajabhat University</h2>
        </ion-text>
      </h4>
    </div>
    <div>
      <br />

      <ion-button icon-left size="large" expand="full" shape="round" color="dark" (click)="gotoCheck()" tappable>
        <ion-icon name="log-in"></ion-icon>
        ตรวจสอบสถานะ
      </ion-button>
      <br />
      <ion-button icon-left size="large" expand="full" shape="round" color="dark" (click)="gotoLogin()" tappable>
        <ion-icon name="log-in"></ion-icon>
        ระบบสารสนเทศสำหรับนักศึกษา
      </ion-button>

    </div>


  </div>
</ion-content>